.profile {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);   
  }

.description {
    padding: 20px 0;
   
  }

  .avatar {
    margin: 0 auto;
    display: block;
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 1px solid rgb(110, 110, 110);

}

.name{
    color: rgb(11, 11, 17);
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}

.tag{
    font-size: small;
    color: rgba(113, 113, 113, 0.849);
    margin-bottom: 0;
    text-align: center;
}

.location {
    font-size: small;
    color: rgba(113, 113, 113, 0.849);
    margin-bottom: 0;
    text-align: center;
}

.stats{
    list-style: none;
    display: flex;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-top: 10px;
    background-color: rgba(194, 200, 213, 0.637);
}

.stats > li {
  width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .label {
    font-size: small;
    color: rgba(113, 113, 113, 0.849);
    margin-bottom: 10px;
  }
  
  .quantity {
    font-size: larger;
    font-weight: bold;
    color: rgba(113, 113, 113, 0.849);
    margin-bottom: 5px;
  }